<!-- navbar -->
<div class="ui secondary  menu">
        <div class="item">
            <h1 class="logo heading" style="font-family: 'Londrina Solid', cursive; font-size: 48px; 
    color: white;
    margin-left: 3%;
    margin-top: 1%;"><a href="./search" class="heading" style="text-decoration: none;
    color:white;">CheapEats</a></h1>
        </div>
    <div class="right menu">
      <a class="item" href="map">
          Map
      </a>
        <a class="item" href="deals">
          Deals
      </a>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    {{#if user}}
    <div class="item">
    <a class="ui item" href="profile">
      {{user.username}}
    </a>
    </div>
    <div class="item">
    <a class="ui item" href="logout">
      Logout
    </a>
    </div>
    {{else}}
    <div class="item">
    <a class="ui item" href="login">
      Log in
    </a>
        </div>
    <div class="item">
    <a class="ui item" href="register">
      Register
    </a>
        </div>
    {{/if}}
  </div>
</div>

<!-- Loads each deal -->

<div class="ui cards">


    
{{#if user}}
{{#each deals}}
<div class="ui card">
  <div class="image">
    <img src="/uploads/{{imageFilename}}">
  </div>
  <div class="content">
    <a class="header" href="/deals/{{slug}}">{{name}}</a>
    <div class="price">
      ${{price}}.00
    </div>
  </div>
  <div class="extra content">
      <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
    <span class="right floated star">
      <i onclick="save("{{name}}")" class="star icon" ></i>
      Favorite
    </span>
  </div>
</div>  
{{/each}}
{{else}}
{{#each deals}}
    <div class="ui card">
  <div class="image">
    <img src="/uploads/{{imageFilename}}">
  </div>
  <div class="content">
    <a class="header" href="/deals/{{slug}}">{{name}}</a>
    <div class="price">
      ${{price}}.00
    </div>
  </div>
  <div class="extra content">
     Please login to save deals
  </div>
</div> 
{{/each}}
{{/if}} 

<!--- creates add card --->
{{#if user}}
<div class="ui card">
<div class="image">
<img src="/uploads/610e746a3466fa6aa6eb6cee788bcfec">
</div>
<div class="content">
<a class="header" href="deals/add">Add a new deal</a>
</div>
</div> 
    
{{else}}

<div class="ui card">
<div class="image">
<img src="/uploads/610e746a3466fa6aa6eb6cee788bcfec">
</div>
<div class="content">
<a class="header">Please login to save a deal</a>
</div>
</div> 
{{/if}}
    
</div>
