<!-- Loads each deal -->
{{#if user}}
 <button ><a href="/deals/add" style="color: black;">Submit New Deal</a></button>
{{else}}
<h4>Log in to submit a deal</h4>
{{/if}}
<div class="ui cards">
    
{{#if user}}
{{#each deals}}
<div class="ui card">
  <div class="image">
    <img src="/uploads/{{imageFilename}}">
  </div>
  <div class="content">
    <a class="header" href="/deals/{{slug}}">{{name}}</a>
    <div class="price">
      ${{price}}.00
    </div>
  </div>
  <div class="extra content">
      <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
    <span class="right floated star">
      <i onclick="save("{{name}}")" class="star icon" ></i>
      Favorite
    </span>
  </div>
</div>  
{{/each}}
{{else}}
{{#each deals}}
    <div class="ui card">
  <div class="image">
    <img src="/uploads/{{imageFilename}}">
  </div>
  <div class="content">
    <a class="header" href="/deals/{{slug}}">{{name}}</a>
    <div class="price">
      ${{price}}.00
    </div>
  </div>
  <div class="extra content">
     Please login to save deals
  </div>
</div> 
{{/each}}
{{/if}}
    
    
    
</div>

<script>
    function save(name){
        console.log('saved');
        name = name;
        $.ajax({
            url: '/deals',
            method: 'POST',
            data:{
                deal: name
            }
        }).done(onSucces);
    };
        function onSuccess(data){
            console.log(data);
        };
</script>
