<div class="ui secondary  menu">
        <div class="item">
            <h1 class="logo heading" style="font-family: 'Londrina Solid', cursive; font-size: 48px; 
    color: white;
    margin-left: 3%;
    margin-top: 1%;"><a href="../search" class="heading" style="text-decoration: none;
    color:white;">CheapEats</a></h1>
        </div>
    <div class="right menu">
      <a class="item" href="../map">
          Map
      </a>
        <a class="item" href="../deals">
          Deals
      </a>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    {{#if user}}
    <div class="item">
    <a class="ui item" href="../profile">
      {{user.username}}
    </a>
    </div>
    <div class="item">
    <a class="ui item" href="../logout">
      Logout
    </a>
    </div>
    {{else}}
    <div class="item">
    <a class="ui item" href="../login">
      Log in
    </a>
        </div>
    <div class="item">
    <a class="ui item" href="../register">
      Register
    </a>
        </div>
    {{/if}}
  </div>
</div>

{{#each deals}}
<div style=" background-color:cornsilk; margin-left: 10%; margin-right: 10%; margin-top: 1%; border-radius: 10px;  font-size: 18px; padding: 2%;">
      <button ><a href="/deals/{{slug}}/update">edit</a></button>
        <button method="delete" ><a href="/deals">delete</a></button>
   <h1><a href="/deals/{{slug}}" class="dealhead">{{name}}</a></h1>
      <div class="col-xs-8 col-sm-6">
        <p>Address: {{address}}</p>
      </div>
        <div class="col-xs-4 col-sm-6">
        <p>Price: ${{price}}.00</p>
      </div>
      <div class="col-xs-4 col-sm-6">
        <p>Categories: {{category}}</p>
      </div>
      <div class="col-sm-9">
        <p>Description: {{description}}</p>
        </div>
      <img style="height: 325px; width: 325px; margin-left:60%; margin-top: -160px;margin-bottom: 40px;" src="/uploads/{{imageFilename}}">
</div>
{{/each}}