<div class="ui secondary  menu">
        <div class="item">
            <h1 class="logo heading" style="font-family: 'Londrina Solid', cursive; font-size: 48px; 
    color: white;
    margin-left: 3%;
    margin-top: 1%;"><a href="../../search" class="heading" style="text-decoration: none;
    color:white;">CheapEats</a></h1>
        </div>
    <div class="right menu">
      <a class="item" href="../../map">
          Map
      </a>
        <a class="item" href="../../deals">
          Deals
      </a>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    {{#if user}}
    <div class="item">
    <a class="ui item" href="../../profile">
      {{user.username}}
    </a>
    </div>
    <div class="item">
    <a class="ui item" href="../../logout">
      Logout
    </a>
    </div>
    {{else}}
    <div class="item">
    <a class="ui item" href="../../login">
      Log in
    </a>
        </div>
    <div class="item">
    <a class="ui item" href="../../register">
      Register
    </a>
        </div>
    {{/if}}
  </div>
</div>


{{#each deals}}
<div class="row" style=" background-color:cornsilk; margin-left: 10%; margin-right: 10%; margin-top: 1%; border-radius: 10px;  font-size: 18px;">

  <form method="post" action="/deals/:dealSlug/update">
    <div style="margin-left: 5%; padding: 2%;" class="field">
        <label>Name</label>
        <div  class="field" style="padding: 2%;">
            <input type="text" size="35" name="name" placeholder="{{name}}">
        </div>
        <label>Address</label>
        <div class="field" style="padding: 2%;">
            <input type="text" size="35" name="address" placeholder="{{address}}">
        </div>
        <label>Price</label>
         <div class="field" style="padding: 2%;">
            <input type="text" size="35" name="price" placeholder="${{price}}.00">
        </div>
        <label>Category</label>
        <div class="field" style="padding: 2%;">
            <input type="text" size="35" name="tags" placeholder="{{category}}">
        </div>
        <label>Description</label>
        <div class="field" style="padding: 2%;">
            <input type="text" style="padding: 2%;" size="60" name="description" placeholder="{{description}}">
        </div>
          <button href="/">save</button>
{{/each}}
