{{#each deals}}
<div class="deals">
<div class="row" id="deal">
  <form method="post">
    <div style="margin-left: 5%; padding: 2%;" class="field">
        <label>Name</label>
        <div  class="field" style="padding: 2%;">
            <input type="text" size="35" name="name" placeholder="{{name}}">
        </div>
        <label>Address</label>
        <div class="field" style="padding: 2%;">
            <input type="text" size="35" name="address" placeholder="{{address}}">
        </div>
        <label>Price</label>
         <div class="field" style="padding: 2%;">
            <input type="text" size="35" name="price" placeholder="${{price}}.00">
        </div>
        <label>Category</label>
        <div class="field" style="padding: 2%;">
            <input type="text" size="35" name="category" placeholder="{{category}}">
        </div>
        <label>Description</label>
        <div class="field" style="padding: 2%;">
            <input type="text" style="padding: 2%;" size="60" name="description" placeholder="{{description}}">
        </div>
          <button href="/update">save</button>
{{/each}}
